.contact > h2{
    color: #fafafa;
    font-size: 24px;
    font-weight: 600;
}

.contact > h3{
    font-weight: 500;
    color: rgba(214, 214, 214, 0.8);
}
.contact > div:last-child{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    gap: 4%;
    padding: 0 2%;
}
.contact > div:last-child a{
    gap: 5px;
    width: 48%;
    padding: 20px 0;
    display: flex;
    margin-top: 5vh;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.contact > div:last-child .whatsapp{
    background: #25D366;
}
.contact > div:last-child .gmail{
    background: #c71610;
}
.contact > div:last-child .github{
    background: #333;
}
.contact > div:last-child .linkedin{
    background: #0077b5;
}
.contact > div:last-child .insta{
    background: #cc2366;

}
.contact > div:last-child .twitter{
    background: #1DA1F2;
}


/*.contact .form{
    width: 100%;
    margin-top: 3vh;
}
.contact .form .form__container{
    gap: 4%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact .form .form__input{
    width: 48%;
    cursor: pointer;
    font-size: 15px;
    color: #fafafa;
    padding: 2vh 2vw;
    font-weight: 700;
    margin-bottom: 3.5%;
    border-radius: 15px;
    background: rgba(255,255,255,0);
    border:1px solid rgba(255,255,255,0.1);
}

.contact .form .form__input:focus, .contact .form .form__input:active{
    outline: 0 none;
    border-color: #52dee5;
}

.contact .form .form__input--message{
    width: 100%;
    height: 20vh;
    resize: none;
}

.contact .form .form__cta{
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 2vh 4.2vw;
    background: #fff6fc;  
    background: -webkit-linear-gradient(to bottom, #ffffff, #e2d8ea);  
    background: linear-gradient(to bottom, #ffffff, #e2d8ea); 
    border: 2px solid rgba(167, 168, 217, 0.02);
}*/

@media (max-width: 480px){
    .contact > h2{
        font-size: 16px;
        font-weight: 700;
    }
    .contact > h3{
        font-size: 16px;
    }

    .contact > div:last-child{
        flex-direction: column;
        justify-content: space-around;
        padding: 1vh 0 0 0;
        margin-bottom: 0;
    }
    .contact > div:last-child a{
        gap: 4px;
        width: 96%;
        padding: 2vh 0;
        margin: 2vh 2% 0 2%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: #fafafa;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    }
    
    /*.contact .form{
        width: 100%;
        margin-top: 3vh;
    }
    .contact .form .form__container{
        gap: 1.8vh;
        width: 100%;
    }
    
    .contact .form .form__input{
        width: 100%;
        font-size: 14px;
        padding: 1.8vh 4vw;
        font-weight: 400;
        margin-bottom: 3.5%;
        border-radius: 10px;
    }
    
    .contact .form .form__input:focus, .contact .form .form__input:active{
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(82, 222, 229,0.6);
    }
    
    .contact .form .form__input--message{
        width: 100%;
        height: 20vh;
    }
    
    .contact .form .form__cta{
        font-size: 16px;
        font-weight: 400;
        border-radius: 11px;
        padding: 1.8vh 0;
        margin: 0 2vw;
        width: 100%;
    }*/

}



